<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:include="fragment/head"></th:block>
<link rel="stylesheet" href="/css/admin.css" />
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed" th:attr="data-enabledaccount=${account.enabledAccount},data-disabledaccount=${account.disabledAccount},data-adminaccount=${account.adminAccount},data-memberaccount=${account.memberAccount},data-monthsaccount=${account.monthsAccount},data-amountsaccount=${account.amountsAccount}">
	<div class="wrapper">
		<th:block th:include="fragment/admin-nav"></th:block>

		<th:block th:include="fragment/admin-aside"></th:block>

		<div class="content-wrapper">
			<section class="content-header">
				<h1>Trang chủ quản trị</h1>
			</section>

			<section class="content">

				<h5 class="mb-2">Thống kê tài khoản</h5>
				<div class="row">
					<div class="col">
						<div class="info-box">
							<span class="info-box-icon bg-primary">
								<i class="far fa-envelope"></i>
							</span>

							<div class="info-box-content">
								<span class="info-box-text">Tổng</span>
								<span class="info-box-number" th:text="${account.allAccount}"></span>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="info-box">
							<span class="info-box-icon bg-info">
								<i class="far fa-check-square"></i>
							</span>

							<div class="info-box-content">
								<span class="info-box-text">Enable</span>
								<span class="info-box-number" th:text="${account.enabledAccount}"></span>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="info-box">
							<span class="info-box-icon bg-danger">
								<i class="far fa-times-circle"></i>
							</span>

							<div class="info-box-content">
								<span class="info-box-text">Disable</span>
								<span class="info-box-number" th:text="${account.disabledAccount}"></span>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="info-box">
							<span class="info-box-icon bg-warning">
								<i class="fas fa-user-shield"></i>
							</span>

							<div class="info-box-content">
								<span class="info-box-text">Quản trị viên</span>
								<span class="info-box-number" th:text="${account.adminAccount}"></span>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="info-box">
							<span class="info-box-icon bg-success">
								<i class="fas fa-user"></i>
							</span>

							<div class="info-box-content">
								<span class="info-box-text">Thành viên</span>
								<span class="info-box-number" th:text="${account.memberAccount}"></span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Tài khoản tạo mới hàng tháng</h3>
							</div>
							<div class="card-body">
								<div class="chart-responsive">
									<canvas id="accountChart" height="200"></canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Tài khoản</h3>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-md-8">
										<div class="chart-responsive">
											<canvas id="pieChart1" height="200"></canvas>
										</div>
									</div>
									<div class="col-md-4">
										<ul class="chart-legend clearfix">
											<li>
												<i class="fas fa-circle text-primary"></i>
												Enable
											</li>
											<li>
												<i class="fas fa-circle text-success"></i>
												Disable
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Tài khoản</h3>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-md-8">
										<div class="chart-responsive">
											<canvas id="pieChart2" height="200"></canvas>
										</div>
									</div>
									<div class="col-md-4">
										<ul class="chart-legend clearfix">
											<li>
												<i class="fas fa-circle text-primary"></i>
												Quản trị viên
											</li>
											<li>
												<i class="fas fa-circle text-success"></i>
												Thành viên
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<h5 class="mb-2">Thống kê đơn hàng</h5>

			</section>
		</div>

		<th:block th:include="fragment/admin-footer"></th:block>
	</div>

	<th:block th:include="fragment/script"></th:block>
	<script src="/js/admin-nav.js"></script>
	<script src="/js/admin-socket.js"></script>
	<script src="/js/notification.js"></script>
	<script src="/js/admin.js"></script>
</body>
</html>