<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:include="fragment/head"></th:block>
<link rel="stylesheet" href="/css/order-management.css" />
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
	<div class="wrapper">
		<th:block th:include="fragment/admin-nav"></th:block>

		<th:block th:include="fragment/admin-aside"></th:block>

		<div class="content-wrapper">
			<section class="content-header">
				<h1>Quản lý đơn hàng</h1>
			</section>

			<section class="content">

				<div class="card card-primary card-tabs">
					<div class="card-header p-0 pt-1" style="overflow: hidden;">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item" data-type="0" data-status="0">
								<a class="nav-link active" id="unpaid-order-tab" data-toggle="pill" href="#unpaid-order" role="tab">Chưa thanh toán</a>
							</li>
							<li class="nav-item" data-type="0" data-status="1">
								<a class="nav-link" id="paid-order-tab" data-toggle="pill" href="#paid-order" role="tab">Đã thanh toán</a>
							</li>
							<li class="nav-item" data-type="0" data-status="2">
								<a class="nav-link" id="processing-order-tab" data-toggle="pill" href="#processing-order" role="tab">Đang chờ</a>
							</li>
							<li class="nav-item" data-type="0" data-status="3">
								<a class="nav-link" id="delivering-order-tab" data-toggle="pill" href="#delivering-order" role="tab">Đang giao</a>
							</li>
							<li class="nav-item" data-type="0" data-status="4">
								<a class="nav-link" id="completed-order-tab" data-toggle="pill" href="#completed-order" role="tab">Đã hoàn thành</a>
							</li>
							<li class="nav-item" data-type="1" data-status="4">
								<a class="nav-link" id="pickup-order-tab" data-toggle="pill" href="#pickup-order" role="tab">Đơn tại quầy</a>
							</li>
						</ul>
						<button type="button" class="btn btn-tool" title="Tạo đơn hàng" id="add-order">
							<i class="fas fa-plus"></i>
						</button>
					</div>
					<div class="card-body">
						<div class="tab-content">
							<div class="tab-pane fade show active" data-type="0" data-status="0" id="unpaid-order" role="tabpanel">
								
							</div>
							<div class="tab-pane fade" data-type="0" data-status="1" id="paid-order" role="tabpanel">
								
							</div>
							<div class="tab-pane fade" data-type="0" data-status="2" id="processing-order" role="tabpanel">
								
							</div>
							<div class="tab-pane fade" data-type="0" data-status="3" id="delivering-order" role="tabpanel">
								
							</div>
							<div class="tab-pane fade" data-type="0" data-status="4" id="completed-order" role="tabpanel">
								
							</div>
							<div class="tab-pane fade" data-type="1" data-status="4" id="pickup-order" role="tabpanel">
								
							</div>
						</div>
					</div>
				</div>
				
				<div id="add-order-container"></div>

			</section>
		</div>

		<th:block th:include="fragment/admin-footer"></th:block>
	</div>
	
	<div class="modal fade" id="add-to-cart-modal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content"></div>
		</div>
	</div>

	<th:block th:include="fragment/script"></th:block>
	<script src="/js/admin-nav.js"></script>
	<script src="/js/admin-socket.js"></script>
	<script src="/js/notification.js"></script>
	<script src="/js/order-management.js"></script>
</body>
</html>