<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:include="fragment/head"></th:block>
<link rel="stylesheet" href="/css/product-management.css" />
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
	<div class="wrapper">
		<th:block th:include="fragment/admin-nav"></th:block>

		<th:block th:include="fragment/admin-aside"></th:block>

		<div class="content-wrapper">
			<section class="content-header">
				<h1>Quản lý sản phẩm</h1>
			</section>

			<section class="content">

				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Sản phẩm</h3>
					</div>
					<div class="card-body">
						<table id="product-datatable" class="table table-bordered js-datatable">
							<thead>
								<tr>
									<th>Mã sản phẩm</th>
									<th>Tên sản phẩm</th>
									<th>Giá sản phẩm</th>
									<th>Giá khuyến mãi</th>
									<th>Danh mục</th>
									<th>Tùy chọn</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>

				<div class="row">
					<div class="col-4" th:each="category: ${categories}">
						<div class="card" th:attr="data-id=${category.categoryId}">
							<div class="card-header">
								<h3 class="card-title" th:text="${category.categoryName + ' - ' + category.categoryCode}"></h3>
								<div class="card-tools">
									<button type="button" class="btn btn-tool add-product" title="Thêm sản phẩm">
										<i class="fas fa-plus"></i>
									</button>
								</div>
							</div>
							<div class="card-body product-container">
								<div class="product-preview" th:each="product: ${category.products}" th:attr="data-id=${product.id}">
									<div class="control-group">
										<span class="edit-item"></span>
										<span class="delete-item"></span>
									</div>
									<div class="image-container">
										<img th:src="${product.image}" alt="product" />
									</div>
									<div class="content">
										<h5 class="name" th:text="${product.name + ' - ' + product.productCode}"></h5>
										<p class="cost" th:if="${product.cost != product.discountCost}">
											<span th:text="${product.cost} + ' đ'"></span>
										</p>
										<p class="discountCost">
											<span th:text="${product.discountCost} + ' đ'"></span>
										</p>
									</div>
									<div class="options">
										<ul>
											<li th:each="option: ${product.optionArray}" th:text="${option.name}"></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>
		</div>

		<th:block th:include="fragment/admin-footer"></th:block>
	</div>

	<div class="modal fade" id="product-modal">
		<div class="modal-dialog">
			<div class="modal-content"></div>
		</div>
	</div>

	<th:block th:include="fragment/script"></th:block>
	<script src="/js/admin-nav.js"></script>
	<script src="/js/admin-socket.js"></script>
	<script src="/js/product-management.js"></script>
</body>
</html>