<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:include="fragment/head"></th:block>
<link rel="stylesheet" href="/css/users-management.css" />
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
	<div class="wrapper">
		<th:block th:include="fragment/admin-nav"></th:block>

		<th:block th:include="fragment/admin-aside"></th:block>

		<div class="content-wrapper">
			<section class="content-header">
				<h1>Quản lý tài khoản</h1>
			</section>

			<section class="content">

				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Tài khoản</h3>
					</div>
					<div class="card-body">
						<table id="users-datatable" class="table table-bordered js-datatable">
							<thead>
								<tr>
									<th>Tên tài khoản</th>
									<th>Admin</th>
									<th>Trạng thái</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>

				<div id="user-detail"></div>

			</section>
		</div>

		<th:block th:include="fragment/admin-footer"></th:block>
	</div>

	<th:block th:include="fragment/script"></th:block>
	<script src="/js/admin-nav.js"></script>
	<script src="/js/admin-socket.js"></script>
	<script src="/js/notification.js"></script>
	<script src="/js/users-management.js"></script>
</body>
</html>