<th:block xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<form enctype="multipart/form-data" id="edit-product-form">
		<div class="modal-header">
			<h4 class="modal-title">Sửa sản phẩm</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<input type="hidden" th:value="${dto.id}" name="id">
			<div class="form-group row">
				<label for="modal-category" class="col-sm-3 col-form-label">Danh mục</label>
				<div class="col-sm-9">
					<input type="text" th:value="${dto.categoryName}" class="form-control" id="modal-category" disabled>
				</div>
			</div>
			<div class="form-group row">
				<label for="modal-code" class="col-sm-3 col-form-label">Mã sản phẩm</label>
				<div class="col-sm-9">
					<input type="text" th:value="${dto.productCode}" class="form-control" id="modal-code" disabled>
				</div>
			</div>
			<div class="form-group row">
				<label for="modal-name" class="col-sm-3 col-form-label">Tên sản phẩm</label>
				<div class="col-sm-9">
					<input name="name" type="text" th:value="${dto.name}" class="form-control" id="modal-name">
				</div>
			</div>
			<div class="form-group row">
				<label for="modal-cost" class="col-sm-3 col-form-label">Giá sản phẩm</label>
				<div class="col-sm-9">
					<input name="cost" type="number" th:value="${dto.cost}" class="form-control" id="modal-cost">
				</div>
			</div>
			<div class="form-group row">
				<label for="modal-image" class="col-sm-3 col-form-label">Ảnh sản phẩm</label>
				<div class="col-sm-9">
					<div class="custom-file">
                      <input type="file" name="file" class="custom-file-input" id="modal-image">
                      <label class="custom-file-label" for="modal-image">Chọn ảnh</label>
                    </div>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-sm-9 offset-3">
					<img id="preview-image" th:src="${dto.image}" alt="Preview Image" />
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Tùy chọn</label>
				<div class="col-sm-9">
					<div class="icheck-primary" th:each="option: ${options}">
						<input type="checkbox" name="options" th:id="${option.id}" th:value="${option.id}" th:checked="${#strings.contains(dto.options, option.id)}">
						<label th:for="${option.id}" th:text="${option.name}"></label>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary" id="edit-product">Lưu</button>
		</div>
	</form>
</th:block>