<th:block xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<div class="card" th:each="category: ${categories}">
		<div class="card-header">
			<h3 class="card-title" th:text="${category.categoryName}"></h3>
		</div>
		<div class="card-body">
			<div class="product-preview" th:each="product: ${category.products}" th:attr="data-id=${product.id}">
				<div class="control-group">
					<span title="Thêm vào giỏ hàng" class="add-item"></span>
				</div>
				<div class="image-container">
					<img th:src="${product.image}" alt="product" />
				</div>
				<div class="content">
					<h5 class="name" th:text="${product.name + ' - ' + product.productCode}"></h5>
					<p class="cost" th:if="${product.cost != product.discountCost}">
						<span th:text="${product.cost}"></span>
						đ
					</p>
					<p class="discountCost">
						<span th:text="${product.discountCost}"></span>
						đ
					</p>
				</div>
			</div>
		</div>
	</div>
</th:block>