<meta charset="UTF-8">

<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Đồ Án Tốt Nghiệp 20166630</title>

<link rel="stylesheet" href="/vendors/fontawesome-5.12.1/css/all.min.css" />

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<link rel="stylesheet" href="/vendors/bootstrap-4.4.1/css/bootstrap.min.css" />

<link rel="stylesheet" href="/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">

<link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">

<link rel="stylesheet" href="/css/style.css" />