<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:include="fragment/head"></th:block>
<link rel="stylesheet" href="/css/login.css" />
</head>
<body class="hold-transition login-page">
	
	<div class="login-box">
		<div class="login-logo">
			<a href="/"><b>ĐATN20166630</b></a>
		</div>
		<div class="card">
			<div class="card-body login-card-body">
				<p class="login-box-msg">Đổi mật khẩu</p>

				<form th:action="@{/user/change-password}" method="post">
					<p th:if="${message}" th:text="${message}" class="form-text text-muted"></p>
				
					<div class="input-group mb-3">
						<input type="password" id="oldpass" name="oldpass" class="form-control" placeholder="Mật khẩu cũ">
						<div class="input-group-append">
							<div class="input-group-text"><span class="fas fa-lock"></span></div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="password" id="newpass" name="newpass" class="form-control" placeholder="Mật khẩu mới">
						<div class="input-group-append">
							<div class="input-group-text"><span class="fas fa-lock"></span></div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="password" id="confirmpass" name="confirmpass" class="form-control" placeholder="Nhập lại mật khẩu mới">
						<div class="input-group-append">
							<div class="input-group-text"><span class="fas fa-lock"></span></div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary btn-block mb-3">Đổi mật khẩu</button>
				</form>
				
				<p class="mb-0">
					<a href="/login">Tới trang đăng nhập</a>
				</p>
			</div>
		</div>
	</div>

	<th:block th:include="fragment/script"></th:block>
	<script src="/js/login.js"></script>
</body>
</html>