<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:include="fragment/head"></th:block>
<link rel="stylesheet" href="/css/news.css" />
</head>
<body>
	<div class="my-header">
		<div class="container">
			<a href="/" class="logo"></a>
			<div class="header-container">
				<div class="left menus">
					<a href="/user/product" class="menu">Thực Đơn</a>
					<a href="/user/news" class="menu">Tin Tức</a>
					<a href="/#google-map" class="menu">Bản đồ</a>
					<a href="/#about-us" class="menu">Liên hệ</a>
				</div>
				<div class="center menus"></div>
				<div class="right menus">
					<div class="d-flex align-items-center">
						<img th:src="${avatar}" class="avatar">
						<div class="dropdown">
							<a href="#" class="menu dropdown-link" th:text="${user.lastName}"></a>
							<div class="dropdown-container">
								<a href="/user/my-order">Đơn hàng của tôi</a>
								<a href="/user/change-password">Đổi Mật Khẩu</a>
								<a href="/user/update-info">Cập Nhật Thông Tin</a>
								<form action="#" th:action="@{/logout}" method="post">
									<a href="#" onclick="this.parentNode.submit()">Đăng Xuất</a>
								</form>
							</div>
						</div>
					</div>
					<a href="#" class="menu open-chat">
						<i class="fas fa-comments"></i>
						<span class="badge badge-info right message-number">0</span>
					</a>
					<a href="/user/cart" class="menu">
						<i class="fas fa-shopping-cart"></i>
						<span class="badge badge-info right cart-number">0</span>
					</a>
				</div>
			</div>
			<div class="toggle-header">
				<i class="fas fa-bars"></i>
			</div>
		</div>
	</div>

	<div class="container clear-top">
		<div class="content-header">
			<h1>Trang tin tức</h1>
		</div>

		<section class="content">
			<div class="row">
				<div class="col-12 col-sm-9">
					<div class="card" th:if="${news != null}">
						<div class="card-body">
							<h1 class="news-title" th:text="${news.title}"></h1>
							<div class="news-date" th:text="'Sửa đổi lần cuối vào ' + ${news.updateAt == null ? #temporals.format(news.createAt, 'HH:mm dd/MM/yyyy') : #temporals.format(news.updateAt, 'HH:mm dd/MM/yyyy')}"></div>
							<p class="news-description" th:text="${news.description}"></p>
							<hr>
							<p class="news-content" th:remove="tag" th:utext="${news.content}"></p>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-3">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Danh mục bài viết</h3>
						</div>
						<div class="card-body">
							<div class="news-item" th:each="news: ${newsList}">
								<a th:href="${'/user/news?id=' + news.id}" class="title" th:text="${news.title}"></a>
								<p class="description" th:text="${news.description}"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<div class="chat-container">
		<div class="card card-prirary cardutline direct-chat direct-chat-primary mb-0 d-none">
			<div class="card-header">
				<h3 class="card-title">Chat với Admin</h3>
				<div class="card-tools">
					<button type="button" class="btn btn-tool close-chat">
						<i class="fas fa-times"></i>
					</button>
				</div>
			</div>
			<div class="card-body">
				<div class="direct-chat-messages" id="direct-chat-messages"></div>
			</div>
			<div class="card-footer">
				<form action="#">
					<input type="text" name="message" class="form-control input-message" placeholder="Nhập tin nhắn...">
					<button type="submit" class="btn btn-primary d-none send-message"></button>
				</form>
			</div>
		</div>
	</div>

	<th:block th:include="fragment/script"></th:block>
	<script src="/js/cart-number.js"></script>
	<script src="/js/user-chat.js"></script>
	<script src="/js/news.js"></script>
</body>
</html>