<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:include="fragment/head"></th:block>
<link rel="stylesheet" href="/css/order.css" />
</head>
<body>
	<div class="my-header">
		<div class="container">
			<a href="/" class="logo"></a>
			<div class="left menus">
				<a href="/user/product" class="menu">Thực Đơn</a>
				<a href="#" class="menu">Tin Tức</a>
				<a href="#" class="menu">Cửa Hàng</a>
			</div>
			<div class="center menus"></div>
			<div class="right menus">
				<img th:src="${avatar}" class="avatar">
				<div class="dropdown">
					<a href="#" class="menu dropdown-link" th:text="${user.lastName}"></a>
					<div class="dropdown-container">
						<a href="/user/change-password">Đổi Mật Khẩu</a>
						<a href="/user/update-info">Cập Nhật Thông Tin</a>
						<form action="#" th:action="@{/logout}" method="post">
							<a href="#" onclick="this.parentNode.submit()">Đăng Xuất</a>
						</form>
					</div>
				</div>
				<a href="/user/cart" class="menu">
					Giỏ hàng
					<span class="badge badge-info right cart-number">0</span>
				</a>
			</div>
		</div>
	</div>

	<div class="container clear-top">
		<div class="content-header">
			<h1>Chi tiết đơn hàng</h1>
		</div>

		<section class="content">
			<div class="row">
				<div class="col-6 offset-3">
					<div class="card">
						<div class="card-body">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Thông tin người nhận</h3>
								</div>
								<div class="card-body">
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Tên địa chỉ</label>
										<div class="col-sm-8">
											<input type="text" readonly class="form-control-plaintext" th:value="${order.addressName}">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Địa chỉ</label>
										<div class="col-sm-8">
											<input type="text" readonly class="form-control-plaintext" th:value="${order.address}">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Tên người nhận</label>
										<div class="col-sm-8">
											<input type="text" readonly class="form-control-plaintext" th:value="${order.name}">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Số điện thoại</label>
										<div class="col-sm-8">
											<input type="text" readonly class="form-control-plaintext" th:value="${order.phone}">
										</div>
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Danh sách sản phẩm</h3>
								</div>
								<div class="card-body">
									<div class="product-preview" th:each="product: ${order.products}">
										<div class="image-container">
											<img th:src="${product.image}" alt="product" />
										</div>
										<div class="content">
											<h5 class="name"><b class="product-label">Sản phẩm: </b><span th:text="${product.name + ' - ' + product.code}"></span></h5>
											<p class="text-muted mb-0"><b class="product-label">Tùy chọn: </b><span th:text="${product.items}"></span></p>
											<p class="discountCost">
												<span><b class="product-label">Đơn giá: </b><span th:text="${product.cost}"></span></span>
												đ
											</p>
											<p class="mb-0"><b class="product-label">Số lượng: </b><b th:text="${product.amount}"></b></p>
										</div>
									</div>
									
									<div>
										<b class="total-product-label">Tổng tiền sản phẩm:&nbsp;&nbsp;&nbsp;</b>
										<b class="total-product-cost" th:text="${order.cost} + ' đ'"></b>
									</div>
								</div>
							</div>
							
							<div class="text-center">
								<a href="#" class="btn btn-primary">Đặt hàng</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<th:block th:include="fragment/script"></th:block>
	<script src="/js/cart-number.js"></script>
	<script src="/js/order.js"></script>
</body>
</html>