<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:include="fragment/head"></th:block>
<link rel="stylesheet" href="/css/update-info.css" />
</head>
<body>
	<div class="my-header">
		<div class="container">
			<a href="/" class="logo"></a>
			<div class="left menus">
				<a href="/user/product" class="menu">Thực Đơn</a>
				<a href="#" class="menu">Tin Tức</a>
				<a href="#" class="menu">Cửa Hàng</a>
			</div>
			<div class="center menus">
			</div>
			<div class="right menus">
				<img th:src="${avatar}" class="avatar">
				<div class="dropdown">
					<a href="#" class="menu dropdown-link" th:text="${account.lastName}"></a>
					<div class="dropdown-container">
						<a href="/user/change-password">Đổi Mật Khẩu</a>
						<a href="/user/update-info">Cập Nhật Thông Tin</a>
						<form action="#" th:action="@{/logout}" method="post">
							<a href="#" onclick="this.parentNode.submit()">Đăng Xuất</a>
						</form>
					</div>
				</div>
				<a href="/user/cart" class="menu">
					Giỏ hàng
					<span class="badge badge-info right cart-number">0</span>
				</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="content-header">
			<h1>Cập nhật thông tin</h1>
		</div>

		<section class="content">
			<div class="row">
				<div class="col-3">
					<div class="card card-primary card-outline">
						<div class="card-body box-profile">
							<div class="text-center position-relative">
								<img class="profile-user-img img-fluid img-circle" th:src="${avatar}" alt="Avatar" style="height: 100px; object-fit: cover;">
								<div class="avatar-overlay">Thay đổi</div>
								<div th:if="${avatarmessage}" th:text="${avatarmessage}"></div>

								<form th:action="@{/user/update-info/avatar}" method="post" id="avatar-form" enctype="multipart/form-data" style="position: fixed; top: -1000px;">
									<input type="file" name="file" id="avatar-input" />
								</form>
							</div>

							<h3 th:text="${account.firstName + ' ' + account.lastName}" class="profile-username text-center"></h3>

							<p th:text="${account.username + ' - ' + account.accountNumber}" class="text-muted text-center"></p>

							<ul class="list-group list-group-unbordered">
								<li class="list-group-item">
									<b>Giới tính</b>
									<a th:text="${account.gender} == 1 ? 'Nam' : 'Nữ'" class="float-right"></a>
								</li>
								<li class="list-group-item">
									<b>Ngày sinh</b>
									<a th:text="${#temporals.format(account.birthday, 'dd/MM/yyyy')}" class="float-right"></a>
								</li>
								<li class="list-group-item">
									<b>Địa chỉ</b>
									<a th:text="${account.address}" class="float-right"></a>
								</li>
								<li class="list-group-item">
									<b>SĐT</b>
									<a th:text="${account.phone}" class="float-right"></a>
								</li>
								<li class="list-group-item">
									<b>Email</b>
									<a th:text="${account.email}" class="float-right"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-9">
					<div class="row">
						<div class="col-6">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Thông tin cơ bản</h3>
								</div>

								<div class="card-body">
									<form role="form" th:action="@{/user/update-info/basic}" method="post">
										<p th:if="${basicmessage}" th:text="${basicmessage}" class="form-text text-muted"></p>

										<div class="form-group">
											<label for="firstName">Họ đệm</label>
											<input th:value="${account.firstName}" type="text" class="form-control" id="firstName" name="firstName">
										</div>
										<div class="form-group">
											<label for="lastName">Tên</label>
											<input th:value="${account.lastName}" type="text" class="form-control" id="lastName" name="lastName">
										</div>
										<div class="form-group">
											<label for="birthday">Ngày sinh</label>
											<input th:value="${#temporals.format(account.birthday, 'dd/MM/yyyy')}" type="text" class="form-control" id="birthday" name="birthday" data-inputmask-alias="datetime"
												data-inputmask-inputformat="dd/mm/yyyy" data-mask>
										</div>
										<div class="form-group">
											<div class="icheck-primary d-inline mr-5">
												<input th:field="*{account.gender}" type="radio" id="genderMale" name="gender" value="1">
												<label for="genderMale">Nam</label>
											</div>
											<div class="icheck-primary d-inline">
												<input th:field="*{account.gender}" type="radio" id="gengerFemale" name="gender" value="2">
												<label for="gengerFemale">Nữ</label>
											</div>
										</div>

										<button type="submit" class="btn btn-primary">Cập nhật</button>
									</form>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="card" style="height: calc(100% - 16px);">
								<div class="card-header">
									<h3 class="card-title">Thông tin liên hệ</h3>
								</div>

								<div class="card-body">
									<p th:if="${contactmessage}" th:text="${contactmessage}" class="form-text text-muted"></p>

									<form role="form" th:action="@{/user/update-info/contact}" method="post">
										<div class="form-group">
											<label for="address">Địa chỉ</label>
											<input th:value="${account.address}" type="text" class="form-control" id="address" name="address">
										</div>
										<div class="form-group">
											<label for="phone">Số điện thoại</label>
											<input th:value="${account.phone}" type="text" class="form-control" id="phone" name="phone">
										</div>
										<div class="form-group">
											<label for="email">Email</label>
											<input th:value="${account.email}" type="text" class="form-control" id="email" name="email">
										</div>

										<button type="submit" class="btn btn-primary">Cập nhật</button>
									</form>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Địa chỉ nhận hàng</h3>
									<div class="card-tools">
										<button type="button" id="add-address" class="btn btn-tool" title="Thêm địa chỉ">
											<i class="fas fa-plus"></i>
										</button>
									</div>
								</div>

								<div class="card-body">
									<div class="row">
										<div class="col-6 receive-address-item" th:each="address: ${reList}">
											<div class="card" th:classappend="${address.isDefault()} ? 'card-primary' : ''" th:attr="data-id=${address.id}">
												<div class="card-header">
													<h3 class="card-title" th:text="${address.addressName}"></h3>
													<div class="card-tools">
														<button type="button" class="btn btn-tool set-default-address" title="Đặt làm mặc định">
															<i class="fas fa-check"></i>
														</button>
														<button type="button" class="btn btn-tool edit-address" title="Sửa địa chỉ">
															<i class="fas fa-edit"></i>
														</button>
														<button type="button" class="btn btn-tool delete-address" title="Xóa địa chỉ">
															<i class="fas fa-times"></i>
														</button>
													</div>
												</div>
												<div class="card-body">
													<ul class="list-group">
														<li class="list-group-item">
															<b>Tên</b>
															<a class="float-right" th:text="${address.name}"></a>
														</li>
														<li class="list-group-item">
															<b>SĐT</b>
															<a class="float-right" th:text="${address.phone}"></a>
														</li>
														<li class="list-group-item">
															<b>Địa chỉ</b>
															<a class="float-right" th:text="${address.address}"></a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="modal fade" id="add-address-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				
			</div>
		</div>
	</div>

	<th:block th:include="fragment/script"></th:block>
	<script src="/js/cart-number.js"></script>
	<script src="/js/update-info.js"></script>
</body>
</html>