<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:include="fragment/head"></th:block>
<link rel="stylesheet" href="/css/login.css" />
</head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a href="/"><b>ĐATN20166630</b></a>
		</div>
		<div class="card">
			<div class="card-body login-card-body">
				<p class="login-box-msg">Cập nhật thông tin</p>

				<form th:action="@{/user/update-info}" method="post">
					<p th:if="${message}" th:text="${message}" class="form-text text-muted"></p>
				
					<div class="input-group mb-3">
						<input th:value="${account.username}" type="text" id="username" name="username" class="form-control" disabled>
						<div class="input-group-append">
							<div class="input-group-text"><span class="fas fa-envelope"></span></div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input th:value="${account.firstName}" type="text" id="firstName" name="firstName" class="form-control" placeholder="Họ đệm">
						<div class="input-group-append">
							<div class="input-group-text"><span class="fas fa-user"></span></div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input th:value="${account.lastName}" type="text" id="lastName" name="lastName" class="form-control" placeholder="Tên">
						<div class="input-group-append">
							<div class="input-group-text"><span class="fas fa-user"></span></div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary btn-block">Cập nhật</button>
				</form>
			</div>
		</div>
	</div>

	<th:block th:include="fragment/script"></th:block>
	<script src="/js/login.js"></script>
</body>
</html>