@charset "UTF-8";

html {
	scroll-behavior: smooth;
}

body {
	color: #222831;
	background-color: #f4f6f9;
	scroll-behavior: smooth;
}

.clear-top {
	top: 60px;
	position: relative;
}

.form-control:focus {
	box-shadow: none;
}

.card {
	border-radius: 0;
	box-shadow: none;
	border: 2px solid;
}
.card-header>.card-tools {
	height: 21px;
}
.card-tools .btn-tool {
	margin-top: -5px;
	margin-bottom: 0;
}
.card-header {
	border-radius: 0 !important;
}

.list-group-item:first-child {
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

section.content {
	padding: 0 0.5rem;
}

.swal2-popup.swal2-toast .swal2-content {
	padding: 0;
}

.swal2-popup.swal2-toast .swal2-title {
	margin: 0 0 0 10px;
}

.swal2-popup.swal2-toast {
	padding: 10px;
}

.modal-footer>.btn {
	margin: 0;
}

.admin-avatar {
	width: 40px;
	height: 40px;
	border: 2px solid #393e46;
	border-radius: 50%;
}

.dt-center {
	text-align: center;
}

.dt-vertical-align>* {
	vertical-align: bottom;
}

.js-datatable {
	width: 100% !important;
}

.view-detail {
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(/images/info.svg) center/cover no-repeat;
}

.add-row {
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(/images/add.svg) center/cover no-repeat;
}

.edit-row {
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(/images/edit.svg) center/cover no-repeat;
}

.delete-row {
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(/images/delete.svg) center/cover no-repeat;
}

.datepicker-container {
	box-shadow: none;
}

.my-header {
	height: 60px;
	width: 100%;
	position: fixed;
	z-index: 2;
	background-color: rgb(0, 173, 181, 0.6);
	backdrop-filter: blur(5px);
}

.my-header .container {
	display: flex;
}

.my-header .header-container {
	flex-grow: 1;
	display: flex;
}

.my-header .logo {
	height: 60px;
	min-width: 60px;
	background: url('../images/logo.svg') center/contain no-repeat;
	margin-right: 20px;
}

.my-header .menus {
	display: flex;
	align-items: center;
}

.my-header .menus.center {
	flex-grow: 1;
	justify-content: center;
}

.my-header .menus input {
	border: none;
	width: 250px;
}

.my-header .menus input:focus, .my-header .menus input:focus+.input-group-append
	{
	box-shadow: none;
	background-color: #eee;
}

.my-header .menus .input-group-append {
	background-color: #fff;
	border-radius: 0 0.2rem 0.2rem 0;
}

.my-header .menus .menu {
	font-weight: bold;
	margin: 0 10px;
	color: #393e46;
	position: relative;
	line-height: 60px;
}

.my-header .menus .menu:hover {
	color: #222831;
}

.my-header .menus .menu:after {
	content: '';
	width: 0;
	height: 4px;
	position: absolute;
	background-color: #222831;
	left: -10px;
	bottom: 0;
	transition: width 0.3s ease;
}

.my-header .menus .menu:hover:after {
	width: calc(100% + 20px);
}

.my-header .menus .avatar {
	object-fit: cover;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border: 2px solid #393e46;
}

.my-header .menus .dropdown {
	display: flex;
}

.my-header .menus .dropdown .dropdown-container {
	position: absolute;
	top: 120px;
	width: max-content;
	min-width: 150px;
	display: flex;
	flex-direction: column;
	background: #fff;
	pointer-events: none;
	opacity: 0;
	transition: all 0.3s ease;
}

.my-header .menus .dropdown .dropdown-container:hover {
	opacity: 1;
	pointer-events: auto;
	top: 60px;
}

.my-header .menus .menu:hover+.dropdown-container {
	opacity: 1;
	pointer-events: auto;
	top: 60px;
}

.my-header .menus .dropdown .dropdown-container a {
	line-height: 40px;
	color: #393e46;
	padding: 0 15px;
	position: relative;
	font-weight: bold;
	display: block;
}

.my-header .menus .dropdown .dropdown-container a:after {
	content: '';
	width: 0;
	height: 4px;
	position: absolute;
	background-color: #222831;
	left: 0;
	bottom: 0;
	transition: width 0.3s ease;
}

.my-header .menus .dropdown .dropdown-container a:hover {
	background-color: #eee;
}

.my-header .menus .dropdown .dropdown-container a:hover:after {
	width: 100%;
}

.my-header .cart-number {
	vertical-align: text-bottom;
	margin-left: 5px;
}

.my-header .toggle-header {
	position: absolute;
	top: 15px;
	right: 15px;
	height: 30px;
	width: 30px;
    text-align: center;
	line-height: 30px;
	font-size: 30px;
	display: none;
}

#carouselExampleIndicators img {
	height: 100vh;
	object-fit: cover;
}

.google-map {
	height: 100vh;
}

.google-map iframe {
	width: 100%;
	height: 100%;
	border: 0;
}

.about-us {
	height: 100vh;
	position: relative;
	background: url(/images/footer.png) center/cover no-repeat;
}

.about-us .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(51, 51, 51, 0.86);
}

.about-us .container {
	height: 100%;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.about-us .footer-logo {
	width: 300px;
	height: 300px;
}

.about-us .company-name {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 30px;
}

.about-us .footer-info i {
	color: green;
}

.about-us .footer-icon {
	margin-bottom: 30px;
}

.about-us .footer-icon i {
	font-size: 24px;
	color: green;
	margin-right: 10px;
}

@media ( max-width : 576px) {
	#carouselExampleIndicators img, .google-map, .about-us {
		height: 33.333vh;
	}
	.about-us {
		font-size: 12px;
	}
	.about-us .company-name {
		margin-bottom: 10px;
	}
	.about-us .footer-logo {
		display: none;
	}
	.about-us .footer-info {
		margin-bottom: 0;
	}
	.about-us .footer-icon {
		margin-bottom: 10px;
		margin-top: 5px;
	}
	.my-header .header-container {
		position: absolute;
		min-width: 200px;
		top: 60px;
		right: -200px;
		flex-direction: column-reverse;
		background-color: rgb(0, 173, 181, 0.6);
		backdrop-filter: blur(5px);
		transition: all 0.4s ease 0s;
	}
	.my-header .header-container.visible {
		right: 0;
	}
	.my-header .menus {
		flex-direction: column;
	}
	.my-header .toggle-header {
		display: block;
	}
	.my-header .menus .dropdown .dropdown-container {
		right: 0;
		z-index: 1;
	}
}

/* ::-webkit-scrollbar { */
/* 	width: 10px; */
/* 	height: 10px; */
/* } */

/* ::-webkit-scrollbar-thumb { */
/* 	border-radius: 5px; */
/* } */

/* ::-webkit-scrollbar-thumb:vertical { */
/* 	background-image: linear-gradient(to bottom, rgba(255,0,0,0.6), rgba(255,165,0,0.6), rgba(255,255,0,0.6), rgba(0,255,0,0.6), rgba(0,0,255,0.6), rgba(75,0,130,0.6), rgba(148,0,211,0.6)); */
/* } */
/* ::-webkit-scrollbar-thumb:vertical:hover { */
/* 	background-image: linear-gradient(to bottom, rgba(255,0,0,0.8), rgba(255,165,0,0.8), rgba(255,255,0,0.8), rgba(0,255,0,0.8), rgba(0,0,255,0.8), rgba(75,0,130,0.8), rgba(148,0,211,0.8)); */
/* } */
/* ::-webkit-scrollbar-thumb:horizontal { */
/* 	background-image: linear-gradient(to right, rgba(255,0,0,0.6), rgba(255,165,0,0.6), rgba(255,255,0,0.6), rgba(0,255,0,0.6), rgba(0,0,255,0.6), rgba(75,0,130,0.6), rgba(148,0,211,0.6)); */
/* } */
/* ::-webkit-scrollbar-thumb:horizontal:hover { */
/* 	background-image: linear-gradient(to right, rgba(255,0,0,0.8), rgba(255,165,0,0.8), rgba(255,255,0,0.8), rgba(0,255,0,0.8), rgba(0,0,255,0.8), rgba(75,0,130,0.8), rgba(148,0,211,0.8)); */
/* } */

/* ::-webkit-scrollbar-corner { */
/* 	background-color: transparent; */
/* } */