@charset "UTF-8";

body {
	color: #222831;
	background-color: #f4f6f9;
}

section.content {
	padding: 0 0.5rem;
}

.swal2-popup.swal2-toast .swal2-content {
	padding: 0;
}

.swal2-popup.swal2-toast .swal2-title {
	margin: 0 0 0 10px;
}

.swal2-popup.swal2-toast {
	padding: 10px;
}

.modal-footer > .btn {
	margin: 0;
}

/* ::-webkit-scrollbar { */
/* 	width: 10px; */
/* 	height: 10px; */
/* } */

/* ::-webkit-scrollbar-thumb { */
/* 	border-radius: 5px; */
/* } */

/* ::-webkit-scrollbar-thumb:vertical { */
/* 	background-image: linear-gradient(to bottom, rgba(255,0,0,0.6), rgba(255,165,0,0.6), rgba(255,255,0,0.6), rgba(0,255,0,0.6), rgba(0,0,255,0.6), rgba(75,0,130,0.6), rgba(148,0,211,0.6)); */
/* } */
/* ::-webkit-scrollbar-thumb:vertical:hover { */
/* 	background-image: linear-gradient(to bottom, rgba(255,0,0,0.8), rgba(255,165,0,0.8), rgba(255,255,0,0.8), rgba(0,255,0,0.8), rgba(0,0,255,0.8), rgba(75,0,130,0.8), rgba(148,0,211,0.8)); */
/* } */
/* ::-webkit-scrollbar-thumb:horizontal { */
/* 	background-image: linear-gradient(to right, rgba(255,0,0,0.6), rgba(255,165,0,0.6), rgba(255,255,0,0.6), rgba(0,255,0,0.6), rgba(0,0,255,0.6), rgba(75,0,130,0.6), rgba(148,0,211,0.6)); */
/* } */
/* ::-webkit-scrollbar-thumb:horizontal:hover { */
/* 	background-image: linear-gradient(to right, rgba(255,0,0,0.8), rgba(255,165,0,0.8), rgba(255,255,0,0.8), rgba(0,255,0,0.8), rgba(0,0,255,0.8), rgba(75,0,130,0.8), rgba(148,0,211,0.8)); */
/* } */

/* ::-webkit-scrollbar-corner { */
/* 	background-color: transparent; */
/* } */