<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:include="fragment/head"></th:block>
<link rel="stylesheet" href="/css/login.css" />
</head>
<body>
	<div style="height: 100px;"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-4 offset-4">
				<div class="login-container">
					<h1 class="text-center">Change Password</h1>
					<form th:action="@{/change-password}" method="post">
						<p th:text="${message}" class="form-text text-muted"></p>
	
						<div class="form-group">
							<label for="oldpass">Old Password</label>
							<input type="password" class="form-control" id="oldpass" name="oldpass">
						</div>
						<div class="form-group">
							<label for="newpass">New Password</label>
							<input type="password" class="form-control" id="newpass" name="newpass">
						</div>
						<div class="form-group">
							<label for="confirmpass">Confirm Password</label>
							<input type="password" class="form-control" id="confirmpass" name="confirmpass">
						</div>
						<button type="submit" class="btn btn-primary">Change Password</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<th:block th:include="fragment/script"></th:block>
	<script src="/js/login.js"></script>
</body>
</html>