<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:include="fragment/head"></th:block>
</head>
<body>
	<a th:href="@{/login}" class="btn btn-outline-danger">Login</a>
	<form action="#" th:action="@{/logout}" method="post">
		<button type="submit" class="btn btn-outline-danger">Logout</button>
	</form>
	<a th:href="@{/register}" class="btn btn-outline-danger">Register</a>

	<th:block th:include="fragment/script"></th:block>
</body>
</html>