<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:include="fragment/head"></th:block>
<link rel="stylesheet" href="/css/news.css" />
</head>
<body>
	<div class="my-header">
		<div class="container">
			<a href="/" class="logo"></a>
			<div class="header-container">
				<div class="left menus">
					<a href="/product" class="menu">Thực Đơn</a>
					<a href="/news" class="menu">Tin Tức</a>
					<a href="/#google-map" class="menu">Bản đồ</a>
					<a href="/#about-us" class="menu">Liên hệ</a>
				</div>
				<div class="center menus"></div>
				<div class="right menus">
					<a href="/login" class="menu">Đăng Nhập</a>
					<a href="/register" class="menu">Đăng Ký</a>
				</div>
			</div>
			<div class="toggle-header">
				<i class="fas fa-bars"></i>
			</div>
		</div>
	</div>

	<div class="container clear-top">
		<div class="content-header">
			<h1>Trang tin tức</h1>
		</div>

		<section class="content">
			<div class="row">
				<div class="col-12 col-sm-9">
					<p class="text-center" th:if="${news == null}">Không tìm thấy bài viết!!!</p>
					<div class="card" th:if="${news != null}">
						<div class="card-body">
							<h1 class="news-title" th:text="${news.title}"></h1>
							<div class="news-date" th:text="'Sửa đổi lần cuối vào ' + ${news.updateAt == null ? #temporals.format(news.createAt, 'HH:mm dd/MM/yyyy') : #temporals.format(news.updateAt, 'HH:mm dd/MM/yyyy')}"></div>
							<p class="news-description" th:text="${news.description}"></p>
							<hr>
							<p class="news-content" th:remove="tag" th:utext="${news.content}"></p>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-3">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Danh mục bài viết</h3>
						</div>
						<div class="card-body">
							<div class="news-item" th:each="news: ${newsList}">
								<a th:href="${'/news?id=' + news.id}" class="title" th:text="${news.title}"></a>
								<p class="description" th:text="${news.description}"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<th:block th:include="fragment/script"></th:block>
</body>
</html>