<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:include="fragment/head"></th:block>
<link rel="stylesheet" href="/css/login.css" />
</head>
<body class="hold-transition register-page">
	<div class="register-box">
		<div class="register-logo">
			<a href="/"><b>ĐATN20166630</b></a>
		</div>

		<div class="card">
			<div class="card-body register-card-body">
				<p class="login-box-msg">Đăng ký tài khoản</p>

				<form th:action="@{/register}" method="post">
					<p th:if="${message}" th:text="${message}" class="form-text text-muted"></p>
				
					<div class="input-group mb-3">
						<input type="text" id="firstName" name="firstName" class="form-control" placeholder="Họ đệm">
						<div class="input-group-append">
							<div class="input-group-text"><span class="fas fa-user"></span></div>
						</div>
					</div>
					
					<div class="input-group mb-3">
						<input type="text" id="lastName" name="lastName" class="form-control" placeholder="Tên">
						<div class="input-group-append">
							<div class="input-group-text"><span class="fas fa-user"></span></div>
						</div>
					</div>

					<div class="input-group mb-3">
						<input type="text" class="form-control" name="birthday" placeholder="Ngày sinh" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
						<div class="input-group-append">
							<span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
						</div>
					</div>

					<div class="input-group mb-3">
						<div class="icheck-primary d-inline mr-5">
							<input type="radio" id="gender-male" name="gender" value="1" checked>
							<label for="gender-male">Nam</label>
						</div>
						
						<div class="icheck-primary d-inline">
							<input type="radio" id="gender-female" value="2" name="gender">
							<label for="gender-female">Nữ</label>
						</div>
					</div>
					
					<div class="input-group mb-3">
						<input type="text" id="phone" name="phone" class="form-control" placeholder="Số điện thoại">
						<div class="input-group-append">
							<div class="input-group-text"><span class="fas fa-phone"></span></div>
						</div>
					</div>
					
					<div class="input-group mb-3">
						<input type="text" id="email" name="email" class="form-control" placeholder="Email">
						<div class="input-group-append">
							<div class="input-group-text"><span class="fas fa-envelope"></span></div>
						</div>
					</div>
					
					<div class="input-group mb-3">
						<input type="text" id="address" name="address" class="form-control" placeholder="Địa chỉ">
						<div class="input-group-append">
							<div class="input-group-text"><span class="fas fa-map-marker-alt"></span></div>
						</div>
					</div>

					<div class="input-group mb-3">
						<input type="text" id="username" name="username" class="form-control" placeholder="Tài khoản">
						<div class="input-group-append">
							<div class="input-group-text"><span class="fas fa-user"></span></div>
						</div>
					</div>
					
					<div class="input-group mb-3">
						<input type="password" id="password" name="password" class="form-control" placeholder="Mật khẩu">
						<div class="input-group-append">
							<div class="input-group-text"><span class="fas fa-lock"></span></div>
						</div>
					</div>
					
					<div class="input-group mb-3">
						<input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Nhập lại mật khẩu">
						<div class="input-group-append">
							<div class="input-group-text"><span class="fas fa-lock"></span></div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary btn-block mb-3">Đăng ký</button>
				</form>

				<a href="/login">Tới trang đăng nhập</a>
			</div>
		</div>
	</div>

	<th:block th:include="fragment/script"></th:block>
	<script src="/js/login.js"></script>
</body>
</html>