<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:include="fragment/head"></th:block>
<link rel="stylesheet" href="/css/login.css" />
</head>
<body class="hold-transition login-page">

	<div class="login-box">
		<div class="login-logo">
			<a href="/"><b>Q•Beverage</b></a>
		</div>
		<div class="card">
			<div class="card-body login-card-body">
				<p class="login-box-msg">Lấy lại mật khẩu</p>

				<form id="reset-password-form">
					<input type="hidden" name="token" th:value=${rpt}>
					<div class="input-group mb-3">
						<input type="password" name="newpass" class="form-control" placeholder="Mật khẩu mới" autofocus>
						<div class="input-group-append">
							<div class="input-group-text"><span class="fas fa-lock"></span></div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="password" name="confirmpass" class="form-control" placeholder="Mật khẩu nhập lại">
						<div class="input-group-append">
							<div class="input-group-text"><span class="fas fa-lock"></span></div>
						</div>
					</div>
					<button type="submit" id="reset-password-submit" class="btn btn-primary btn-block mb-3">Xác nhận</button>
				</form>
				
				<a href="/login">Tới trang đăng nhập</a>
			</div>
		</div>
	</div>

	<th:block th:include="fragment/script"></th:block>
	<script src="/js/login.js"></script>
</body>
</html>